{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>언더기</title>
    <link rel="stylesheet" href="{% static 'css/ranking/ranking.css' %}" />
  </head>
  <body>
    <div class="ranking">
      <div class="status"></div>
      <div class="head">
        <div class="logo">
          <img
            class="image"
            src="{% static 'assets/icons/logo.png' %}"
            alt="logo"
          />
          <div class="name">언더기</div>
          <div class="description">매일 오르는 언덕을 조금 더 즐겁게</div>
          <div class="separator"></div>
        </div>
      </div>
      <div class="body">
        <div class="hotrankingsection">
          <div class="hotranking">
            <i class="hotrankingtext">🔥HOT RANKING🔥</i>
            <p class="text"><br />랭킹을 확인하고 좀 더 힘내봅시다!</p>
            <a href="" id="viewRanking" class="viewranking"
              ><br />내 순위 보기<br
            /></a>
          </div>
          {% for ranking in top_rankings %}
          <div class="nickname">
            <div class="nickname1">
              <div class="profile">
                <img
                  class="one"
                  src="{% static 'assets/icons/one.png' %}"
                  alt="logo"
                />
              </div>
              <div class="nickname1text">
                  <div class="info">
                      <p class="loadnickname">{{ ranking.nickname }}</p>
                      <p class="id">{{ ranking.ranking_id }}</p>
                  </div>
                  <div class="score">
                      <span class="n">{{ ranking.total_calories_burned }}</span>
                      <span class="kcal">kcal</span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      {% include 'shared/_navbar.html' %}
    </div>

    <div id="myModal" class="modal">
      <span class="close">&times; </span>
      <p class="rankinginfo">현재 내 순위는 {{ user_rank }}위예요!</p>
      <p class="cheerup"><br />조금만 더 힘내봐요!</p>
      <img
        class="image2"
        src="../../project/static/assets/icons/rundugi.png"
        alt="rundugi"
      />
    </div>

    <div class="modal-backdrop"></div>

    <script>
      document.addEventListener("DOMContentLoaded", (event) => {
        const modal = document.getElementById("myModal");
        const btn = document.getElementById("viewRanking");
        const span = document.getElementsByClassName("close")[0];

        // '내 순위 보기' 링크를 클릭했을 때 모달을 열기
        btn.onclick = function (event) {
          event.preventDefault();
          modal.style.display = "block";
        };

        // 모달의 닫기 버튼 클릭 시 모달 닫기
        span.onclick = function () {
          modal.style.display = "none";
        };

        // 모달 외부 클릭 시 모달 닫기
        window.onclick = function (event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        };
      });
    </script>
  </body>
</html>
