{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>언더기</title>
    <link rel="stylesheet" href="{% static 'css/users/modify.css' %}">
</head>

<body>
    <div class="home">
        <div class="status"></div>
        <div class="head">
            <div class="logo">
                <img class="image" src="../../project/static/assets/icons/logo.png" alt="logo">
                <div class="name">언더기</div>
                <div class="description">매일 오르는 언덕을 조금 더 즐겁게</div>
                <div class="separator"></div>
            </div>
        </div>
        <div class="back">
            <a href="{% url 'users:mypage' %}" class="backbutton">
                <svg class="backbutton" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M16.62 2.99004C16.5039 2.87363 16.366 2.78127 16.2141 2.71826C16.0622 2.65524 15.8994 2.6228 15.735 2.6228C15.5706 2.6228 15.4078 2.65524 15.2559 2.71826C15.1041 2.78127 14.9661 2.87363 14.85 2.99004L6.54 11.3C6.4473 11.3926 6.37375 11.5024 6.32357 11.6234C6.27339 11.7444 6.24756 11.8741 6.24756 12.005C6.24756 12.136 6.27339 12.2657 6.32357 12.3867C6.37375 12.5076 6.4473 12.6175 6.54 12.71L14.85 21.02C15.34 21.51 16.13 21.51 16.62 21.02C17.11 20.53 17.11 19.74 16.62 19.25L9.38 12L16.63 4.75004C17.11 4.27004 17.11 3.47004 16.62 2.99004Z" fill="#AFAFAF"/>
                </svg>
            </a>
        </div>
        <div class="body">
            <div class="Image">
                <p class="image_title">사진</p>
                <div class="image_info">
                    <img id="profileImage" class="profile" src="{% if user.profile.profileImage %}{{ user.profile.profileImage.url }}{% else %}{% static 'images/defaultProfile.jpg' %}{% endif %}">
                </div>
                <div class="image_text">나를 알릴 수 있는 사진을 등록해 주세요!<br>
                    등록된 사진은 랭킹 프로필에 사용됩니다.
                </div>
            </div>
            <div class="Nickname">
                <p class="Nickname_title">닉네임</p>
                <span class="nickname">{{user.profile.nickName}}</span>
            </div>
            <div class="ID">
                <p class="id_title">아이디</p>
                <span class="id">{{user.profile.user.username}}</span>
            </div>
            <div class="Password">
                <p class="password_title">비밀번호</p>
                <span class="password">********</span>
            </div>
            <div class="Cal">
                <p class="cal_title">목표 칼로리</p>
                <span class="plankcal">{{user.profile.goal}}kcal</span>
            </div>
            <div class="Weight">
                <p class="weight_title">체중</p>
                <span class="weight">{{user.profile.weight}}kg</span>
            </div>
            <div class="Major">
                <p class="major_title">학과</p>
                <span class="major">{{user.profile.major}}</span>
            </div>   
        </div>
        <div class="modify_button">
            <a href="{% url 'users:pw_checking' %}" class="button">내 정보 수정하기</a>
        </div>
        {% include 'shared/_navbar.html' %}
    </div>
</body>
</html>