{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>언더기</title>
    <link rel="stylesheet" href="{% static 'css/accounts/passwordfindv3.css' %}">
</head>

<body>
    <div class="home">
        <div class="head">
            <div class="logo">
                <img class="image" src="../../project/static/assets/icons/logo.png" alt="logo">
                <div class="name">언더기</div>
                <div class="description">매일 오르는 언덕을 조금 더 즐겁게</div>
                <div class="separator"></div>
            </div>
        </div>
        <div class="body">
            <div class="title">
                <div class="title_text">비밀번호가 변경되었어요!<br>
                로그인 페이지로 돌아가 주세요.</div>
            </div>
            <div class="signin_button">
                <a href="{% url 'accounts:login' %}" class="button">Sign in</a>
            </div>
        </div>
        {% include 'shared/_navbar.html' %}
    </div>
</body>
</html>
