{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>언더기</title>
    <link rel="stylesheet" href="{% static 'css/accounts/signup3.css' %}" />
  </head>
  <body>
    <div class="signup3">
      <div class="status"></div>
      <div class="head">
        <div class="logo">
          <img
            class="image"
            src="../../project/static/assets/icons/logo.png"
            alt="logo"
          />
          <div class="name">언더기</div>
          <div class="description">매일 오르는 언덕을 조금 더 즐겁게</div>
          <div class="separator"></div>
        </div>
      </div>
      <div class="body">
        <div class="title">
          <a href="{% url 'accounts:signup2' %}" class="backbutton">
            <svg
              class="backbtn"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M16.62 2.99004C16.5039 2.87363 16.366 2.78127 16.2141 2.71826C16.0622 2.65524 15.8994 2.6228 15.735 2.6228C15.5706 2.6228 15.4078 2.65524 15.2559 2.71826C15.1041 2.78127 14.9661 2.87363 14.85 2.99004L6.54 11.3C6.4473 11.3926 6.37375 11.5024 6.32357 11.6234C6.27339 11.7444 6.24756 11.8741 6.24756 12.005C6.24756 12.136 6.27339 12.2657 6.32357 12.3867C6.37375 12.5076 6.4473 12.6175 6.54 12.71L14.85 21.02C15.34 21.51 16.13 21.51 16.62 21.02C17.11 20.53 17.11 19.74 16.62 19.25L9.38 12L16.63 4.75004C17.11 4.27004 17.11 3.47004 16.62 2.99004Z"
                fill="#AFAFAF"
              />
            </svg>
          </a>
          <span class="signuptxt">회원가입 하기</span>
        </div>
        <form action="{% url 'accounts:signup3' %}" method="POST">
          {% csrf_token %}
          <div class="kcal">
            <div class="kcalselect">
              <p class="kcaltxt">1일 목표 칼로리</p>
              <input
                class="goalkcal"
                id="id-input"
                type="text"
                name="goal"
                placeholder="kcal"
                required
              />
              <svg
                class="no"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                onclick="clearInput('id-input')"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M22 12C22 17.523 17.523 22 12 22C6.477 22 2 17.523 2 12C2 6.477 6.477 2 12 2C17.523 2 22 6.477 22 12ZM8.111 15.889C8.01726 15.7952 7.96461 15.6681 7.96461 15.5355C7.96461 15.4029 8.01726 15.2758 8.111 15.182L11.293 12L8.111 8.818C8.01992 8.7237 7.96952 8.5974 7.97066 8.4663C7.9718 8.3352 8.02439 8.20979 8.11709 8.11709C8.20979 8.02439 8.3352 7.9718 8.4663 7.97066C8.5974 7.96952 8.7237 8.01992 8.818 8.111L12 11.293L15.182 8.111C15.2763 8.01992 15.4026 7.96952 15.5337 7.97066C15.6648 7.9718 15.7902 8.02439 15.8829 8.11709C15.9756 8.20979 16.0282 8.3352 16.0293 8.4663C16.0305 8.5974 15.9801 8.7237 15.889 8.818L12.707 12L15.889 15.182C15.9801 15.2763 16.0305 15.4026 16.0293 15.5337C16.0282 15.6648 15.9756 15.7902 15.8829 15.8829C15.7902 15.9756 15.6648 16.0282 15.5337 16.0293C15.4026 16.0305 15.2763 15.9801 15.182 15.889L12 12.707L8.818 15.889C8.72424 15.9827 8.59708 16.0354 8.4645 16.0354C8.33192 16.0354 8.20476 15.9827 8.111 15.889Z"
                  fill="#AFAFAF"
                />
              </svg>
              <p class="comment">
                숫자만 입력해 주세요. 목표 칼로리는 내 정보에서 변경할 수
                있어요.
              </p>
              <br />
            </div>
          </div>

          <div class="detail">
            <p class="diet">
              다이어트가 목적이신가요?<a
                href=""
                class="dietdetail"
                id="dietdetail"
              >
                자세히 보기</a
              >
            </p>
            <p class="health">
              건강이 목적이신가요?<a
                href=""
                class="healthdetail"
                id="healthdetail"
              >
                자세히 보기</a
              >
            </p>
          </div>
          <div class="submitbtn">
            <input class="submit" type="submit" value="다음" />
          </div>
        </form>
      </div>
      {% include 'shared/_navbar.html' %}
    </div>

    <div class="overlay"></div>

    <div id="myModal" class="modal">
      <img
        class="image2"
        src="../../project/static/assets/icons/duggy.png"
        alt="duggy"
      />
      <span class="close1">&times; </span>
      <p class="hello">
        반가워요! <br />
        다이어트가 목적이신가요?
      </p>
      <p class="explain">
        <br />온전히 ‘걷기 운동’만으로 체중 감량 효과를 기대하긴 어려워요.<br />
        그러나, 틈틈이 수업에 가는 동안 걷는 것으로 조금의 칼로리라도
        소모한다면, 티끌모아 태산을 기대할 수 있지 않을까요? <br />우리의 체중
        1kg은 약 9,000kcal로 이루어져 있어요. <br />평균 성인의 경우, 2,000보를
        걸으면 약 100kcal를 소모해요. <br />더기와 같이 틈틈이 언덕을 올라
        건강한 틈새 다이어트에 도전해보아요!
      </p>
    </div>

    <div class="overlay2"></div>
    <div id="myModal2" class="modal">
      <img
        class="image2"
        src="../../project/static/assets/icons/duggy.png"
        alt="duggy"
      />
      <span class="close2">&times; </span>
      <p class="hello">
        반가워요! <br />
        건강이 목적이신가요?
      </p>
      <p class="explain">
        <br />걷기는 몸에 큰 무리 없이 쉽게 할 수 있어 가장 안전하고 부담이 적은
        유산소 운동이에요. <br />걷기는 심폐 기능을 높이고, 혈액 순환을 촉진해
        심혈관 질환을 예방해요. <br />또한, 걷기는 당뇨, 고혈압, 고지혈증의
        예방과 치료에도 효과적이에요. <br />‘하루 만 보’는 만보기 회사에서
        마케팅을 위해 제시한 전략으로, 실제로는 꼭 만 보를 걷지 않아도
        된대요.<br />
        짧게나마 학교 안에서 틈틈이 유산소를 챙겨, 더기와 함께 건강해져봐요!
      </p>
    </div>

    <div class="overlay3"></div>
    <div id="myModal3" class="modal3">
      <div class="modalsection">
        <span class="close3">&times; </span>
        <p class="text1">
          로그인 후 이용해 주세요!<i class="text2"
            ><br />언더기와 함께<br />
            나만의 칼로리 데이터를 만들어봐요.</i
          >
        </p>

        <img
          class="image3"
          src="../../project/static/assets/icons/rundugi.png"
          alt="rundugi"
        />
      </div>
    </div>

    <script>
      const idInput = document.getElementById("id-input");
      const clearIcon = document.querySelector(".no");

      function clearInput() {
        idInput.value = "";
      }

      clearIcon.addEventListener("click", clearInput);

      document.addEventListener("DOMContentLoaded", function () {
        const modal1 = document.getElementById("myModal");
        const btn1 = document.getElementById("dietdetail");
        const span1 = document.getElementsByClassName("close1")[0];
        const overlay1 = document.querySelector(".overlay");

        if (btn1) {
          // '자세히 보기' 링크를 클릭했을 때 모달을 열기
          btn1.onclick = function (event) {
            event.preventDefault();
            modal1.style.display = "block";
            overlay1.style.display = "block";
          };

          // 모달의 닫기 버튼 클릭 시 모달 닫기
          span1.onclick = function () {
            modal1.style.display = "none";
            overlay1.style.display = "none";
          };

          // 모달 외부 클릭 시 모달 닫기
          window.onclick = function (event) {
            if (event.target === modal1) {
              modal1.style.display = "none";
              overlay1.style.display = "none";
            }
          };
        }
      });

      document.addEventListener("DOMContentLoaded", function () {
        const modal2 = document.getElementById("myModal2");
        const btn2 = document.getElementById("healthdetail");
        const span2 = document.getElementsByClassName("close2")[0];
        const overlay2 = document.querySelector(".overlay");

        if (btn2) {
          // '자세히 보기' 링크를 클릭했을 때 모달을 열기
          btn2.onclick = function (event) {
            event.preventDefault();
            modal2.style.display = "block";
            overlay2.style.display = "block";
          };

          // 모달의 닫기 버튼 클릭 시 모달 닫기
          span2.onclick = function () {
            modal2.style.display = "none";
            overlay2.style.display = "none";
          };

          // 모달 외부 클릭 시 모달 닫기
          window.onclick = function (event) {
            if (event.target === modal2) {
              modal2.style.display = "none";
              overlay2.style.display = "none";
            }
          };
        }
      });
    </script>

    {% if not user.is_authenticated %}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var modal3 = document.getElementById("myModal3");
        var overlay3 = document.querySelector(".overlay3");
        var closeBtn3 = document.querySelector(".close3");

        // 랭킹 페이지 링크 클릭 시 모달 표시
        document
          .querySelector("a[href='{% url 'ranking:ranking_page' %}']")
          .addEventListener("click", function (event) {
            event.preventDefault();
            modal3.style.display = "block";
            overlay3.style.display = "block";
          });

        // 마이페이지 링크 클릭 시 모달 표시
        document
          .querySelector("a[href='{% url 'users:mypage' %}']")
          .addEventListener("click", function (event) {
            event.preventDefault();
            modal3.style.display = "block";
            overlay3.style.display = "block";
          });

        // 모달 닫기 버튼 클릭 시 모달 숨김
        closeBtn3.addEventListener("click", function () {
          modal3.style.display = "none";
          overlay3.style.display = "none";
        });

        // 오버레이 클릭 시 모달 숨김
        overlay3.addEventListener("click", function () {
          modal3.style.display = "none";
          overlay3.style.display = "none";
        });
      });
    </script>
    {% endif %}
  </body>
</html>
