<form action="{% url 'accounts:signup2' %}" method="POST">
{% csrf_token %}
<p>닉네임</p>
<input type="text" name="nickName">
<br>

<p>소속 학과</p>
<input type="text" name="major">
<br>

<p>체중</p>
<input type="text" step="0.01" name="weight">
<br><br>

<input type="radio" name="gender" value="0">Female
<input type="radio" name="gender" value="1">Male
<br>

<input type="radio" name="agegroup" value="20">20대
<input type="radio" name="agegroup" value="30">30대
<input type="radio" name="agegroup" value="40">40대
<br>

<button type="submit">다음</button>
</form>