@font-face {
  font-family: "EF_jejudoldam";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-style: normal !important;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-family: "Pretendard", sans-serif;
}

.ranking,
.map {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  width: 100%;
  background: #fff;
}

.status {
  width: 100%;
  height: 48px;
}

.head {
  width: 100%;
  height: 216px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 84px;
  height: 84px;
}

.name {
  color: #000;
  font-family: "EF_jejudoldam";
  font-size: 44px;
  margin-top: 10px;
}

.description {
  color: #7e7e7e;
  font-size: 14px;
  margin-top: 5px;
  font-family: "Pretendard", sans-serif;
}

.separator {
  width: 100%;
  height: 2px;
  background: #d9d9d9;
  margin: 20px 0;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 596px;
  padding: 21px 0px;
  flex-shrink: 0;
}

#kakaomap {
  width: 390px;
  height: 483px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: #eee;
}

.content {
  width: 390px;
  height: 70px;
  background: #676767;
}

.contenttxt {
  color: #fff;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 15px;
  padding-top: 15px;
}

.arriving {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-shrink: 0;
}

.arrivebtn {
  width: 130px;
  height: 50px;
  border-radius: 30px;
  background: #ffc700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrivetxt {
  color: #000;
  font-family: EF_jejudoldam;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 72px;
  background: #ffc700;
}

.iconlist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 270px;
  height: 43px;
  padding: 14px 80px 15px 80px;
  flex-shrink: 0;
}

.starbutton {
  width: 35.834px;
  height: 35.833px;
  fill: #000;
}

.homebutton {
  width: 43px;
  height: 40.394px;
  fill: #000;
}

.mybutton {
  width: 30px;
  height: 37.778px;
  fill: #000;
}
