<div class="body">
    <div class="kcal">NN Kcal</div>
    <div id="kakaomap" style="width: 390px; height: 483px"></div>
    <div class="content">
      <i class="contenttxt">길에대한자세한안내 </i>
    </div>
    <div class="arriving">
      <div class="arrivebtn">
        <a href="{% url 'main:arrive' %}" id="arrivebtn">도착!</a>
      </div>
    </div>
  </div>
  {% include 'shared/_navbar.html' %}
</div>

<script
  type="text/javascript"
  src="//dapi.kakao.com/v2/maps/sdk.js?appkey=70f022e04ffaf40810c250d86f2571e6"
></script>
<script>
  var container = document.getElementById("kakaomap");
  var options = {
    center: new kakao.maps.LatLng(37.5583, 127.0002),
    level: 3,
  };

  var map = new kakao.maps.Map(container, options);

  // 출발/도착 건물 저장
  var start_building = "{{ path.start_building }}";
  var end_building = "{{ path.end_building }}";
  var S = 60;   // 걷기 속도
  var W = "{{ request.user.profile.weight }}";
  var G, T, description;  // 경사, 운동 시간
  var Marker1, Marker2;   // 마커 이미지 위치

  if (start_building == "사회과학관")
  {
    if (end_building == "혜화관") {
      var linePath = [
        new kakao.maps.LatLng(37.5575, 127.0025),
        new kakao.maps.LatLng(37.5577, 127.0018),
      ];
      G = 0;
      T = 2;
      description = "사회과학관 3층에서 걸어서 혜화관 1층에 도착합니다.";
      Marker1 = new kakao.maps.LatLng(37.5575, 127.0025);
      Marker2 = new kakao.maps.LatLng(37.5577, 127.0018);
    }
  }

  // 칼로리 계산
  var calorie = (3.5 + (0.1 * S) + (1.8 * S * G)) * 0.001 * W * 5 * T;

  // 칼로리 출력
  var kcalElement = document.querySelector('.kcal');
  kcalElement.textContent = calorie.toFixed(2) + ' Kcal';

  // 경로 설명 출력
  var contenttxt = document.querySelector('.contenttxt');
  contenttxt.textContent = description;

  // 마커 이미지 변경
  var Marker1image = '/project/static/images/mapMarker1.png';
  var Marker2image = '/project/static/images/mapMarker2.png';
  var imageSize = new kakao.maps.Size(64, 69),
      imageOption = {offset: new kakao.maps.Point(27, 69)};

  var markerImage1 = new kakao.maps.MarkerImage(Marker1image, imageSize, imageOption),
      markerPosition1 = Marker1;

  var markerImage2 = new kakao.maps.MarkerImage(Marker2image, imageSize, imageOption),
      markerPosition2 = Marker2;

  var marker = new kakao.maps.Marker({
    position: markerPosition1, 
    image: markerImage1
});

marker.setMap(map);

  var marker = new kakao.maps.Marker({
    position: markerPosition2, 
    image: markerImage2
});

marker.setMap(map);

var polyline = new kakao.maps.Polyline({
  path: linePath, // 선을 구성하는 좌표배열
  strokeWeight: 5, // 선의 두께
  strokeColor: "#ffc700", // 선의 색깔
  strokeOpacity: 0.7, // 선의 불투명도. 1에서 0 사이의 값이며 0에 가까울수록 투명
  strokeStyle: "solid", // 선의 스타일
});

polyline.setMap(map);
</script>