<script
  type="text/javascript"
  src="//dapi.kakao.com/v2/maps/sdk.js?appkey=70f022e04ffaf40810c250d86f2571e6"
></script>
<script>
  var container = document.getElementById("kakaomap");
  var options = {
    center: new kakao.maps.LatLng(37.5583, 127.0002),
    level: 3,
  };

  var map = new kakao.maps.Map(container, options);

  // 출발/도착 건물 저장
  var start_building = "{{ path.start_building }}";
  var end_building = "{{ path.end_building }}";
  var S = 60;   // 걷기 속도
  var W = "{{ request.user.profile.weight }}";
  var G, T=0, description;  // 경사, 운동 시간
  var Marker1, Marker2;   // 마커 이미지 위치

  if (start_building == "사회과학관")
  {
    if (end_building == "혜화관") {
      var linePath = [
        new kakao.maps.LatLng(37.5575, 127.0025),
        new kakao.maps.LatLng(37.5577, 127.0018),
      ];
      G = 0;
      T = 2;
      description = "사회과학관 3층에서 걸어서 혜화관 1층에 도착합니다.";
      Marker1 = new kakao.maps.LatLng(37.5575, 127.0025);
      Marker2 = new kakao.maps.LatLng(37.5577, 127.0018);
    }
    else if (end_building == "대운동장") {
      var linePath = [
        new kakao.maps.LatLng(37.5575, 127.0025),
        new kakao.maps.LatLng(37.5571, 127.002),
        new kakao.maps.LatLng(37.5571, 127.0009),
        new kakao.maps.LatLng(37.5567, 127.0007),
      ];
      G = 0.04;
      T = 4;
      description = "계단을 이용해 사회과학관 3층으로 향합니다. 정각원 쪽으로 걸어간 후 언덕을 올라 대운동장에 도착합니다.";
      Marker1 = new kakao.maps.LatLng(37.5575, 127.0025);
      Marker2 = new kakao.maps.LatLng(37.5567, 127.0007);
    }
    else if (end_building == "정각원") {
      var linePath = [
        new kakao.maps.LatLng(37.5575, 127.0025),
        new kakao.maps.LatLng(37.5571, 127.002),
        new kakao.maps.LatLng(37.557, 127.001),
        new kakao.maps.LatLng(37.5575, 127.0012),
      ];
      G = 0.06;
      T = 3;
      description = "사회과학관 3층에서 잉카페를 지나 계단을 올라 도착합니다.";
      Marker1 = new kakao.maps.LatLng(37.5575, 127.0025);
      Marker2 = new kakao.maps.LatLng(37.5575, 127.0012);
    }
    else if (end_building == "법학관") {
      var linePath = [
        new kakao.maps.LatLng(37.5575, 127.0025),   // 사과관
        new kakao.maps.LatLng(37.5571, 127.002),
        new kakao.maps.LatLng(37.557, 127.001),   // 잉카페
        new kakao.maps.LatLng(37.5571, 127.0005),
        new kakao.maps.LatLng(37.5579, 127.0007), // 법학관
      ];
      G = 0.11;
      T = 6;
      description = "사회과학관 3층에서 정각원 방향으로 계단(언덕)을 올라 도착합니다.";
      Marker1 = new kakao.maps.LatLng(37.5575, 127.0025);
      Marker2 = new kakao.maps.LatLng(37.5579, 127.0007);
    }
    else if (end_building == "명진관") {
      var linePath = [
        new kakao.maps.LatLng(37.5575, 127.0025),   // 사과관
        new kakao.maps.LatLng(37.5571, 127.002),
        new kakao.maps.LatLng(37.557, 127.001),   // 잉카페
        new kakao.maps.LatLng(37.5571, 127.0005),
        new kakao.maps.LatLng(37.5578, 127.0006), // 팔정도 언덕 위
        new kakao.maps.LatLng(37.558, 127),
        new kakao.maps.LatLng(37.5577, 126.9999),
      ];
      G1 = 0.11;
      T1 = 6;
      var calorie1 = (3.5 + (0.1 * S) + (1.8 * S * G1)) * 0.001 * W * 5 * T1;
      G2 = 0;
      T2 = 1;
      var calorie2 = (3.5 + (0.1 * S) + (1.8 * S * G2)) * 0.001 * W * 5 * T2;
      var calorie = calorie1 + calorie2;
      description = "사회과학관 3층에서 정각원 방향으로 계단(언덕)을 올라 도착합니다.";
      Marker1 = new kakao.maps.LatLng(37.5575, 127.0025);
      Marker2 = new kakao.maps.LatLng(37.5577, 126.9999);
    }
    else if (end_building == "학술문화관") {
      var linePath = [
        new kakao.maps.LatLng(37.5575, 127.0025),
        new kakao.maps.LatLng(37.5574, 127.0022),
        new kakao.maps.LatLng(37.5579, 127.0024),
        new kakao.maps.LatLng(37.5579, 127.0031),   // 학술문화관
      ];
      G = 0.31;
      T = 3 * 0.75;
      description = "사회과학관 정문에서 보이는 계단을 내려가 2층으로 간 뒤 경영관 쪽에 있는 연결 통로를 이용합니다.";
      Marker1 = new kakao.maps.LatLng(37.5575, 127.0025);
      Marker2 = new kakao.maps.LatLng(37.5579, 127.0031);
    }
    else if (end_building == "본관") {
      var linePath = [
        new kakao.maps.LatLng(37.5575, 127.0025),   // 사과관
        new kakao.maps.LatLng(37.5571, 127.002),
        new kakao.maps.LatLng(37.557, 127.001),   // 잉카페
        new kakao.maps.LatLng(37.5571, 127.0005),
        new kakao.maps.LatLng(37.5578, 127.0006),
        new kakao.maps.LatLng(37.5581, 126.9997),
        new kakao.maps.LatLng(37.5584, 126.9998),
        new kakao.maps.LatLng(37.5585, 126.9994), // 본관
      ];
      G1 = 0.11;
      T1 = 6;
      var calorie1 = (3.5 + (0.1 * S) + (1.8 * S * G1)) * 0.001 * W * 5 * T1;
      G2 = 0;
      T2 = 2;
      var calorie2 = (3.5 + (0.1 * S) + (1.8 * S * G2)) * 0.001 * W * 5 * T2;
      var calorie = calorie1 + calorie2;
      description = "정문에서 나와 카페 잉 옆을 지나 정각원 방향으로 계단(언덕)을 올라 팔정도를 지나 도착합니다.";
      Marker1 = new kakao.maps.LatLng(37.5575, 127.0025);
      Marker2 = new kakao.maps.LatLng(37.5585, 126.9994);
    }
    else if (end_building == "경영관") {    // 수정
      var linePath = [
        new kakao.maps.LatLng(37.5575, 127.0025),
        new kakao.maps.LatLng(37.5575, 127.0023),
        new kakao.maps.LatLng(37.5572, 127.0022),
        new kakao.maps.LatLng(37.557, 127.0029),   // 경영관
      ];
      G = 0.18;
      T = 2 * 0.75;
      description = "정문에서 나와 왼쪽에 있는 계단을 이용해 그루터기를 지나 도착합니다.";
      Marker1 = new kakao.maps.LatLng(37.5575, 127.0025);
      Marker2 = new kakao.maps.LatLng(37.557, 127.0029);
    }
  }

  // 칼로리 계산
  if (T != 0) {
    var calorie = (3.5 + (0.1 * S) + (1.8 * S * G)) * 0.001 * W * 5 * T * 0.75;
  }
  
  // 칼로리 출력
  var kcalElement = document.querySelector('.kcal');
  kcalElement.textContent = calorie.toFixed(2) + ' Kcal';

  // 경로 설명 출력
  var contenttxt = document.querySelector('.contenttxt');
  contenttxt.textContent = description;

  // 마커 이미지 변경
  var Marker1image = '/project/static/images/mapMarker1.png';
  var Marker2image = '/project/static/images/mapMarker2.png';
  var imageSize = new kakao.maps.Size(64, 69),
      imageOption = {offset: new kakao.maps.Point(27, 45)};

  var markerImage1 = new kakao.maps.MarkerImage(Marker1image, imageSize, imageOption),
      markerPosition1 = Marker1;

  var markerImage2 = new kakao.maps.MarkerImage(Marker2image, imageSize, imageOption),
      markerPosition2 = Marker2;

  var marker1 = new kakao.maps.Marker({
    position: markerPosition1, 
    image: markerImage1
});

  var marker2 = new kakao.maps.Marker({
    position: markerPosition2, 
    image: markerImage2
});

marker1.setMap(map);
marker2.setMap(map);

var polyline = new kakao.maps.Polyline({
  path: linePath, // 선을 구성하는 좌표배열
  strokeWeight: 5, // 선의 두께
  strokeColor: "#ffc700", // 선의 색깔
  strokeOpacity: 0.7, // 선의 불투명도. 1에서 0 사이의 값이며 0에 가까울수록 투명
  strokeStyle: "solid", // 선의 스타일
});

polyline.setMap(map);

// 칼로리 값을 숨겨진 폼 필드에 설정
var calorieInput = document.getElementById('calorieInput');
    calorieInput.value = calorie.toFixed(2);
</script>