@font-face {
  font-family: "EF_jejudoldam";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-style: normal !important;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-family: "Pretendard", sans-serif;
}

.ranking {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  width: 100%;
  background: #fff;
}

.status {
  width: 100%;
  height: 48px;
}

.head {
  width: 100%;
  height: 216px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 84px;
  height: 84px;
}

.name {
  color: #000;
  font-family: "EF_jejudoldam";
  font-size: 44px;
  margin-top: 10px;
}

.description {
  color: #7e7e7e;
  font-size: 14px;
  margin-top: 5px;
  font-family: "Pretendard", sans-serif;
}

.separator {
  width: 100%;
  height: 2px;
  background: #d9d9d9;
  margin: 20px 0;
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 31px 0;
}

.hotrankingsection {
  display: flex;
  flex-direction: column;
}

.hotranking {
  text-align: center;
}

.hotrankingtext {
  color: #000;
  font-family: "EF_jejudoldam";
  font-size: 20.4px;
}

.text {
  color: #7e7e7e;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 500;
}

.viewranking {
  color: #7e7e7e;
  font-family: Pretendard;
  font-size: 9.6px;
  font-weight: 500;
  text-decoration: underline;
}

.nickname {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 22px;
  margin-left: 34.5px;
}

.nickname1 {
  display: flex;
  width: 90%;
  border-top: 1px solid #eaeaea;
  padding: 10px 0;
}

.nickname1:first-child {
  border-top: none;
}

.profilesection {
  width: 54px;
  height: 54px;
  background-color: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  flex-shrink: 0;
  margin-top: 13px;
  margin-left: 29px;
}

.one {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  margin-top: 15px;
  margin-bottom: 10px;
  position: absolute;
  z-index: 1;
}

.two {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  margin-top: 15px;
  margin-bottom: 10px;
  position: absolute;
  z-index: 1;
}

.three {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  margin-top: 15px;
  margin-bottom: 10px;
  position: absolute;
  z-index: 1;
}

.svgcontainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 55px; /* SVG의 너비 */
  height: 54px; /* SVG의 높이 */
}

.nickname1text {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-self: flex-start;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0px 0px 0px 153px;
}

.loadnickname {
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  display: flex;
}

.id {
  color: #7e7e7e;
  font-family: Pretendard;
  font-size: 10px;
  font-weight: 500;
  display: flex;
  text-align: left !important;
}

.score {
  display: flex;
  align-items: baseline;
  gap: 2px;
  margin-top: 25px;
  margin-right: 34.5px;
}

.n {
  color: #000;
  font-family: EF_jejudoldam;
  font-size: 16px;
  font-weight: 400;
}

.kcal {
  color: #000;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
}

.bottom {
  display: flex;
  width: 430px;
  height: 72px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: #ffc700;
}

.iconlist {
  display: flex;
  width: 270px;
  height: 43px;
  padding: 14px 80px 15px 80px;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-shrink: 0;
}

.starbutton {
  width: 35.834px;
  height: 35.833px;
  flex-shrink: 0;
  fill: #000;
}

.homebutton {
  width: 43px;
  height: 40.394px;
  flex-shrink: 0;
  fill: #000;
}

.mybutton {
  width: 30px;
  height: 37.778px;
  flex-shrink: 0;
  fill: #000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 회색 */
  z-index: 1; /* 모달보다 낮은 z-index 값 */
  display: none; /* 기본적으로 숨김 */
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 60px;
  top: 50%; /* 화면 상단에서 50% 위치 */
  left: 50%; /* 화면 왼쪽에서 50% 위치 */
  transform: translate(-50%, -50%);
  overflow: auto;
  width: 400px;
  height: 321px;
  flex-shrink: 0;
  border-radius: 21px;
  background: #fff9d7;
  margin: auto;

  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.rankinginfo {
  color: #000;
  font-family: EF_jejudoldam;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cheerup {
  color: #7e7e7e;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.close {
  color: #000000;
  float: right;
  padding-right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute; /* absolute로 설정하여 부모(.modal)를 기준으로 위치 지정 */
  top: 20px; /* 원하는 상단 여백 설정 */
  right: 20px; /* 원하는 오른쪽 여백 설정 */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
