@font-face {
    font-family: 'EF_jejudoldam';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-style: normal !important;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    font-family: 'Pretendard', sans-serif;
}

.home {
    display: flex;
    width: 430px;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #FFF;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    width: 84px;
    height: 84px;
}

.name {
    color: #000;
    font-family: 'EF_jejudoldam';
    font-size: 44px;
    margin-top: 10px;
}

.description {
    color: #7E7E7E;
    font-size: 14px;
    margin-top: 5px;
}

.separator {
    width: 400px;
    height: 2px;
    flex-shrink: 0;
    background: #D9D9D9;
    margin: 20px 0; /* Adjust the margin as needed */
}

.body {
    display: grid;
    width: 430px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.image_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83px;
    height: 31px;
    flex-shrink: 0;
    background: #FFC700;
    border: none;
    margin-top : 30px;
    margin-bottom: 45px;
}

.image_button a {
    color: #000;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.Image {
    display: grid;
    width: 430px;
    height: 120px;
    flex-direction: row;
    flex-shrink: 0;
    grid-template-rows: 1fr 0.5fr 1fr;
    grid-template-columns: 2fr 2fr 3fr;
    margin-bottom: 20px;
}

.image_title:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
    color: #000;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

.image_info:nth-child(2) {
    grid-row: 1/3;
    grid-column: 2/3;
}

.image_button:nth-child(3) {
    grid-row:1/2;
    grid-column: 3/4;
    margin-left: 80px;
}

.image_text:nth-child(4) {
    grid-row: 3/4;
    grid-column: 2/4;
    color: #000;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}

.Nickname {
    display: grid;
    width: 430px;
    flex-direction: row;
    flex-shrink: 0;
    grid-template-columns: 2fr 5fr;
}

.Nickname_title:nth-child(1) {
    grid-column: 1/2;
    color: #000;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

.nick-text:nth-child(2) {
    grid-column: 2/3;
    color: #000;
    font-family: Pretendard;
    font-size: 16.8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}

.ID {
    display: grid;
    width: 430px;
    flex-direction: row;
    flex-shrink: 0;
    grid-template-columns: 2fr 5fr;
}

.id_title:nth-child(1) {
    grid-column: 1/2;
    color: #000;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight:700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

.id-text:nth-child(2) {
    grid-column: 2/3;
    color: #000;
    font-family: Pretendard;
    font-size: 16.8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}

.Password {
    display: grid;
    width: 430px;
    flex-direction: row;
    flex-shrink: 0;
    grid-template-columns: 2fr 5fr;
}

.password_title:nth-child(1) {
    grid-column: 1/2;
    color: #000;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

.password-text:nth-child(2) {
    grid-column: 2/3;
    color: #000;
    font-family: Pretendard;
    font-size: 16.8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}

.Cal {
    display: grid;
    width: 430px;
    flex-direction: row;
    flex-shrink: 0;
    grid-template-columns: 2fr 5fr;
}

.cal_title:nth-child(1) {
    grid-column: 1/2;
    color: #000;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

.cal-text:nth-child(2) {
    grid-column: 2/3;
    color: #000;
    font-family: Pretendard;
    font-size: 16.8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}

.Weight {
    display: grid;
    width: 430px;
    flex-direction: row;
    flex-shrink: 0;
    grid-template-columns: 2fr 5fr;
}

.weight_title:nth-child(1) {
    grid-column: 1/2;
    color: #000;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

.weight-text:nth-child(2) {
    grid-column: 2/3;
    color: #000;
    font-family: Pretendard;
    font-size: 16.8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}

.Major {
    display: grid;
    width: 430px;
    flex-direction: row;
    flex-shrink: 0;
    grid-template-columns: 2fr 5fr;
}

.major_title:nth-child(1) {
    grid-column: 1/2;
    color: #000;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

.major-text:nth-child(2) {
    grid-column: 2/3;
    color: #000;
    font-family: Pretendard;
    font-size: 16.8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
}

.caution_text:nth-child(3) {
    grid-column: 2/3;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0px;
    margin-left: 30px;
}

.input-field {
    position: relative; /* 컨테이너를 상대적으로 만듭니다 */
    height: 39.699px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    margin-top: 10px;
}

.nick-text {
    width: 255px;
    height: 39.699px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #EEE;
    border: none;
    color: #7e7e7e;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.id-text {
    width: 255px;
    height: 39.699px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #EEE;
    border: none;
    color: #7e7e7e;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.password-text {
    width: 255px;
    height: 39.699px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #EEE;
    border: none;
    color: #7e7e7e;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cal-text {
    width: 255px;
    height: 39.699px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #EEE;
    border: none;
    color: #7e7e7e;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.weight-text {
    width: 255px;
    height: 39.699px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #EEE;
    border: none;
    color: #7e7e7e;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.major-text {
    width: 255px;
    height: 39.699px;
    flex-shrink: 0;
    border-radius: 12px;
    background: #EEE;
    border: none;
    color: #7e7e7e;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.input-field svg.no_nick {
    position: absolute; /* 아이콘을 절대적으로 배치 */
    right: 30px; /* 오른쪽 가장자리에서의 거리 조정 */
    cursor: pointer;
    color: #afafaf;
}

.input-field svg.no_id {
    position: absolute; /* 아이콘을 절대적으로 배치 */
    right: 30px; /* 오른쪽 가장자리에서의 거리 조정 */
    cursor: pointer;
    color: #afafaf;
}

.input-field svg.no_password {
    position: absolute; /* 아이콘을 절대적으로 배치 */
    right: 30px; /* 오른쪽 가장자리에서의 거리 조정 */
    cursor: pointer;
    color: #afafaf;
}

.input-field svg.no_cal {
    position: absolute; /* 아이콘을 절대적으로 배치 */
    right: 30px; /* 오른쪽 가장자리에서의 거리 조정 */
    cursor: pointer;
    color: #afafaf;
}

.input-field svg.no_weight {
    position: absolute; /* 아이콘을 절대적으로 배치 */
    right: 30px; /* 오른쪽 가장자리에서의 거리 조정 */
    cursor: pointer;
    color: #afafaf;
}

.input-field svg.no_major {
    position: absolute; /* 아이콘을 절대적으로 배치 */
    right: 30px; /* 오른쪽 가장자리에서의 거리 조정 */
    cursor: pointer;
    color: #afafaf;
}

.caution_text{
    color: #000;
    font-family: Pretendard;
    font-size: 7px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 0px;
}

#save_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 35px;
    border: none;
    margin-top : 30px;
    margin-bottom: 45px;
    color: #000;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    cursor: not-allowed; /* 기본적으로 버튼 비활성화 */
}

#save_button.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 35px;
    background: #FFC700;
    border: none;
    margin-top : 30px;
    margin-bottom: 45px;
    color: #000;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    cursor: pointer; /* 활성화된 버튼에 포인터 커서 */
}

.modify_button a {
    color: #000;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.bottom{
    display: flex;
    width: 430px;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #FFC700;
}

.iconlist{
    display: flex;
    width: 270px;
    height: 43px;
    padding: 14px 80px 15px 80px;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-shrink: 0;
}

.starbutton{
    width: 35.834px;
    height: 35.833px;
    flex-shrink: 0;
    fill: #000;
}

.homebutton{
    width: 43px;
    height: 40.394px;
    flex-shrink: 0;
    fill: #000;
}

.mybutton{
    width: 30px;
    height: 37.778px;
    flex-shrink: 0;
    fill: #000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    top: 50%; /* 화면 상단에서 50% 위치 */
    left: 50%; /* 화면 왼쪽에서 50% 위치 */
    transform: translate(-50%, -50%);
    overflow: hidden; /* 오버플로우 숨기기 */
    width: 368px;
    height: 137px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF3B2;
    margin: auto;
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* 추가된 그림자 효과 */
}

.save_check {
    color: #000;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0px;
    margin-top: 11px;
}

.close {
    color: #000000;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute; /* absolute로 설정하여 부모(.modal)를 기준으로 위치 지정 */
    top: 10px; /* 원하는 상단 여백 설정 */
    right: 10px; /* 원하는 오른쪽 여백 설정 */
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
}


.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal_image {
    width: 73px;
    height: 71px;
    flex-shrink: 0;
    margin-top: 12px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 회색 */
    z-index: 1; /* 모달보다 낮은 z-index 값 */
    display: none; /* 기본적으로 숨김 */
}
