@font-face {
  font-family: "EF_jejudoldam";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-family: "Pretendard", sans-serif;
}

.signup2 {
  display: flex;
  flex-direction: column;
  max-width: 430px;
  width: 100%;
  background: #fff;
}

.status {
  width: 100%;
  height: 48px;
}

.head {
  width: 100%;
  height: 216px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 84px;
  height: 84px;
}

.name {
  color: #000;
  font-family: "EF_jejudoldam";
  font-size: 44px;
  margin-top: 10px;
}

.description {
  color: #7e7e7e;
  font-size: 14px;
  margin-top: 5px;
  font-family: "Pretendard", sans-serif;
}

.separator {
  width: 100%;
  height: 2px;
  background: #d9d9d9;
  margin: 20px 0;
}

.body {
  width: 430px;
  height: 596px;
  flex-shrink: 0;
}

.title {
  display: inline-flex;
  height: 31px;
  padding: 0px 150.5px 0px 114px;
  align-items: center;
  flex-shrink: 0;
}

.backbtn {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  align-items: center;
}

.signuptxt {
  color: #000;
  text-align: center;
  font-family: EF_jejudoldam;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 12.5px;
}

.info {
  display: flex;
  width: 430px;
  height: 239px;
  padding: 0px 75px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  margin-top: 170px;
}

.section {
  width: 280px;
  height: 73px;
  flex-shrink: 0;
  position: relative;
}

.no {
  position: absolute;
  right: 10px;
  cursor: pointer;
  top: 35%;
}

.inputtxt {
  color: #000;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.nicknameinput,
.majorinput,
.weightinput {
  width: 280px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #eee;

  color: #7e7e7e;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.comment {
  color: #000;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.select {
  width: 430px;
  height: 52px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}

.genderselect,
.ageselect {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: left;

  color: #000;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

.gender-radio,
.age-radio {
  display: none;
}

.custom-radio {
  display: inline-block;
  vertical-align: middle;
}

.gender-radio:checked + .custom-radio .inner-circle,
.age-radio:checked + .custom-radio .inner-circle {
  fill: #92d1ff;
}

label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin: 10px;
  cursor: pointer;
}

.next {
  display: flex;
  width: 430px;
  height: 42px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: none;
}

.nextbtn {
  width: 280px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #ffc700;
  border: none;

  color: #fff;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 150px;
}

.overlay3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 회색 */
  z-index: 1; /* 모달보다 낮은 z-index 값 */
  display: none; /* 기본적으로 숨김 */
}

.modal3 {
  display: none;
  position: fixed;
  z-index: 2;
  padding-top: 60px;
  top: 50%; /* 화면 상단에서 50% 위치 */
  left: 50%; /* 화면 왼쪽에서 50% 위치 */
  transform: translate(-50%, -50%);
  overflow: auto;
  width: 315px;
  height: 321px;
  flex-shrink: 0;
  border-radius: 21px;
  background: #fff9d7;
  margin: auto;

  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.modalsection {
  width: 203px;
  height: 246px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 55px;
}

.text1 {
  color: #000;
  text-align: center;
  font-family: Pretendard;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text2 {
  color: #7e7e7e;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.image3 {
  display: flex;
  width: 106px;
  height: 106px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.logingo {
  width: 130px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #ffc700;
  color: #000;
  font-family: EF_jejudoldam;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 30px;
  display: flex;
}

.logingo > i {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  font-style: normal;
}

.close3 {
  color: #000000;
  float: right;
  padding-right: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute; /* absolute로 설정하여 부모(.modal)를 기준으로 위치 지정 */
  top: 20px; /* 원하는 상단 여백 설정 */
  right: 20px; /* 원하는 오른쪽 여백 설정 */
}

.close3:hover,
.close3:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 72px;
  background: #ffc700;
}

.iconlist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 270px;
  height: 43px;
  padding: 14px 0px 15px 0px;
  flex-shrink: 0;
}

.starbutton {
  width: 35.834px;
  height: 35.833px;
  fill: #000;
}

.homebutton {
  width: 43px;
  height: 40.394px;
  fill: #000;
}

.mybutton {
  width: 30px;
  height: 37.778px;
  fill: #000;
}

.error-message {
  color: #d80000;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
