{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>언더기</title>
    <link rel="stylesheet" href="{% static 'css/main/mainpage.css' %}" />
  </head>
  <body>
    <div class="home">
      <div class="status"></div>
      <div class="head">
        <div class="signin">
          <div class="signinbutton">
            <a href="{% url 'accounts:login' %}">
              <button id="button" type="button">Sign in</button>
            </a>
          </div>
        </div>
        <div class="logo">
          <img
            class="image"
            src="../../project/static/assets/icons/logo.png"
            alt="logo"
          />
          <div class="name">언더기</div>
          <div class="description">매일 오르는 언덕을 조금 더 즐겁게</div>
          <div class="separator"></div>
        </div>
      </div>
      <div class="body">
        <div class="contents">
          <div class="choice">
            <div class="mention">
              <div class="mention2">
                언더기와 함께 힘든 동국대 언덕을 재밌게 바꿔봐요!
              </div>
            </div>
            <div class="list">
              <select class="department" name="출발지 입력">
                <option selected disabled>출발지 입력</option>
                <option>학술문화관</option>
                <option>혜화관</option>
                <option>명진관</option>
                <option>본관</option>
                <option>법학관</option>
                <option>정각원</option>
                <option>경영관</option>
                <option>사회과학관</option>
                <option>다향관</option>
                <option>체육관</option>
                <option>학림관</option>
                <option>계산관</option>
                <option>학생회관</option>
                <option>정보문화관</option>
                <option>원흥관</option>
                <option>남산학사</option>
                <option>신공학관</option>
                <option>중앙도서관</option>
                <option>상록원</option>
                <option>만해광장</option>
                <option>대운동장</option>
                <option>정문</option>
                <option>후문</option>
                <option>과학관</option>
              </select>
              <select class="arrive" name="도착지 입력">
                <option selected disabled>도착지 입력</option>
                <option>학술문화관</option>
                <option>혜화관</option>
                <option>명진관</option>
                <option>본관</option>
                <option>법학관</option>
                <option>정각원</option>
                <option>경영관</option>
                <option>사회과학관</option>
                <option>다향관</option>
                <option>체육관</option>
                <option>학림관</option>
                <option>계산관</option>
                <option>학생회관</option>
                <option>정보문화관</option>
                <option>원흥관</option>
                <option>남산학사</option>
                <option>신공학관</option>
                <option>중앙도서관</option>
                <option>상록원</option>
                <option>만해광장</option>
                <option>대운동장</option>
                <option>정문</option>
                <option>후문</option>
                <option>과학관</option>
              </select>
            </div>
          </div>
          <div class="go">
            <a href="{% url 'main:map_page' %}"
              ><button id="gobutton">GO!</button></a
            >
          </div>
        </div>
      </div>
      {% include 'shared/_navbar.html' %}
    </div>
  </body>
</html>
