{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>지도</title>
    <link rel="stylesheet" href="{% static 'css/main/map.css' %}" />
  </head>
  <body>
    <div class="map">
      <div class="status"></div>
      <div class="head">
        <div class="logo">
          <img
            class="image"
            src="../../project/static/assets/icons/logo.png"
            alt="logo"
          />
          <div class="name">언더기</div>
          <div class="description">매일 오르는 언덕을 조금 더 즐겁게</div>
          <div class="separator"></div>
        </div>
      </div>
      <div class="body">
        <div class="kcal">NN Kcal</div>
        <div id="kakaomap" style="width: 390px; height: 483px"></div>
        <div class="content">
          <i class="contenttxt">길에대한자세한안내 </i>
        </div>
        <div class="arriving">
          <div class="arrivebtn">
            <form id="arriveForm" method="POST" action="{% url 'main:arrive' %}">
              {% csrf_token %}
              <input type="hidden" name="calorie" id="calorieInput">
              <button type="submit" id="arrivebtn">도착!</button>
          </form>
          </div>
        </div>
      </div>
      {% include 'shared/_navbar.html' %}
    </div>
      {% include 'map_detail.html' %}
  </body>
</html>
